
body {
    font-family: "Lato", sans-serif;
    transition: background-color .5s;
  }
  
  .sidenav {
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color:#fff ;
    overflow-x: hidden;
    transition: 0.5s;
    padding-top: 60px;
  }
  
  .sidenav a {
    padding: 8px 8px 8px 32px;
    text-decoration: none;
    font-size: 25px;
    color: #ffb3b3;
    display: block;
    transition: 0.3s;
  }
  
  .sidenav a:hover {
    color: #8c8c8c;
  }
  
  .sidenav .closebtn {
    position: absolute;
    top: 0;
    right: 25px;
    font-size: 36px;
    margin-left: 50px;
  }
  .navImage{
    box-shadow: 5px 5px 5px #8c8c8c;
    width:170px;
    height:155px;
    
 
  }
  .footer{
    padding-top: 20px;
    margin-top: 25vh;
    margin-left: 3vw;
  }
  .name,
  .title{
    color:#8c8c8c
  }

.masthead{
    max-height: 110vh;
    background: url("../images/profile.jpeg");
    position: relative;
    width:100%;
    padding-top: 20rem;
    padding-bottom: 5rem;
    margin-top:-5vh !important;
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
}
#logo{
    color:white;
    font-family: "Dancing Script", "cursive";
    font-size: 400% !important;
    margin-top:5vh;
    
}
.mainTitle{
  margin-left:8vw;
}
.masthead div{
    color: white;
    font-family:"archivo", "sans-serif";
    font-size: 150%;
    padding-bottom:5rem;
}
.nameTitle{
  margin-bottom: 50vh;
  margin-left:5vh;
}

#burger{
  color:darkslategrey !important;
  
  margin-left:3vw;
  margin-top:7vh ;
  position: fixed;
  z-index: 2;
  top: 0;
  left: 0;

}
.burgerBck{
background-color: whitesmoke;
width: 10vw;
z-index:500;
}
.skills{
  margin:0 auto;
  margin-top:8vh;
  margin-bottom:8vh;
  color:#ffb3b3;
  
}
.skillsIcons{
  margin-bottom: 1.5vh;
  background-color: #ffb3b3;
  color:white;
  
}
.icons{
  margin: 0 auto;
  margin-bottom: 2vh;
  width:100px;
  height:100px;
  border: 2px solid #ffb3b3;
  background-color:#ffb3b3 ;
  padding: 20px;
  border-radius: 50%;
}
.skillsInfo{
  color:#8c8c8c
}
.learnMore button{
  margin-top:10vh;
  margin-bottom: 5vh;
  background-color:#ffb3b3; 
}
.learnMore button:hover{
  background-color: #b3ffff;
  color:#8c8c8c;
}
#contact{
  
  height:15vh !important;
  
  padding-top:2vh;
  background-image: url("../images/pinkbckg.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  
}


/* .contactMe h2{
  color:#8c8c8c;
  margin-top: 20vh;
 

} */

/* .clickMe button{
  margin-top: 15vh;
  background-color: #66c2ff;
} */

/* .clickMe button:hover{
  background-color: #8c8c8c;
} */